<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>buscarViajes</servlet-name>
        <servlet-class>BLL.buscarViajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerOrigen</servlet-name>
        <servlet-class>BLL.obtenerOrigen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerDestino</servlet-name>
        <servlet-class>BLL.obtenerDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>elegirViaje</servlet-name>
        <servlet-class>BLL.elegirViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarPasajeros</servlet-name>
        <servlet-class>BLL.guardarPasajeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>BLL.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearCuenta</servlet-name>
        <servlet-class>BLL.crearCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarTarjeta</servlet-name>
        <servlet-class>BLL.agregarTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarTarjeta</servlet-name>
        <servlet-class>BLL.eliminarTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmarPago</servlet-name>
        <servlet-class>BLL.confirmarPago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buscarViajes</servlet-name>
        <url-pattern>/buscarViajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerOrigen</servlet-name>
        <url-pattern>/obtenerOrigen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerDestino</servlet-name>
        <url-pattern>/obtenerDestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>elegirViaje</servlet-name>
        <url-pattern>/elegirViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarPasajeros</servlet-name>
        <url-pattern>/guardarPasajeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearCuenta</servlet-name>
        <url-pattern>/crearCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarTarjeta</servlet-name>
        <url-pattern>/agregarTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarTarjeta</servlet-name>
        <url-pattern>/eliminarTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmarPago</servlet-name>
        <url-pattern>/confirmarPago</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
